<%- include('./layouts/header'); -%>
<main class="d-flex">
  <%- include('./layouts/sidebar'); -%>
  <section id="main-menu" class="col">
    <!-- CODE HERE -->
  </section>
</main>
<%- include('./layouts/footer'); -%>
