<link rel="stylesheet" href="/css/navbar.css" />
<nav>
  <div class="nav-brand">
    <a href=""><b>Fitness Center</b></a>
  </div>
  <div class="nav-list">
    <ul>
      <li>
        <a href="">About</a>
      </li>
      <li>
        <a href="">Membership</a>
      </li>
      <li>
        <a href="">Gallery</a>
      </li>
      <li>
        <a href="">Location</a>
      </li>
    </ul>
  </div>
  <div class="nav-admin">
    <a href="/admin/dashboard">Admin</a>
  </div>
</nav>
