<section
  id="side-menu"
  class="d-flex flex-column p-3 text-bg-dark sticky-top"
  style="width: 280px"
>
  <a
    href="/"
    class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none"
  >
    <img src="/img/dumbbell.svg" alt="logo" width="35" />
    <span class="fs-4 mx-4">Fitness Center</span>
  </a>
  <hr />
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a
        href="/admin/dashboard"
        class="nav-dashboard nav-link active text-white"
        aria-current="page"
        ><i class="uil uil-dashboard"></i> Dashboard
      </a>
    </li>
    <li class="nav-item">
      <a href="/admin/members" class="nav-link nav-members text-white">
        <i class="uil uil-users-alt"></i> Members
      </a>
    </li>
  </ul>
  <hr />
  <div class="dropdown">
    <a
      href="#"
      class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      <img
        src="https://github.com/mdo.png"
        alt=""
        width="32"
        height="32"
        class="rounded-circle me-2"
      />
      <strong>Admin</strong>
    </a>
    <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
      <li><a class="dropdown-item" href="#">Settings</a></li>
      <li><a class="dropdown-item" href="#">Profile</a></li>
      <li><hr class="dropdown-divider" /></li>
      <li><a class="dropdown-item" href="/">Sign out</a></li>
    </ul>
  </div>
</section>
