<%- include('./layouts/header'); -%>
<style>
  p {
    margin: 0;
  }
</style>
<main class="d-flex">
  <%- include('./layouts/sidebar'); -%>
  <section id="main-menu" class="col">
    <h2>Dashboard</h2>
    <nav aria-label="breadcrumb" class="mb-4">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
      </ol>
    </nav>
    <div class="dashboard d-flex flex-column gap-3">
      <div class="dashboard-info gap-3">
        <div class="px-4 d-flex justify-content-center flex-column">
          <b style="color: #4066d5">Jumlah Member</b>
          <span class="member-total"><b>$100,00</b></span>
          <div class="info-style"></div>
        </div>

        <div class="px-4 d-flex justify-content-center flex-column">
          <b>Status Member</b>
          <span class="member-aktif"><b>$100,00</b></span>
          <div class="info-style red"></div>
        </div>
        <div class="px-4 d-flex justify-content-center flex-column">
          <b style="color: orange">Pendapatan</b>
          <span class="member-hasil"><b>$100,00</b></span>
          <div class="info-style"></div>
        </div>
      </div>
      <div class="dashboard-chart gap-3">
        <div class="dashboard-membership-overview">
          <div class="d-flex justify-content-between px-3 overview-head">
            <p class="fw-bold">Membership Overview</p>
            <span><i class="uil uil-ellipsis-v"></i></span>
          </div>
          <div class=""><canvas id="myChartBar"></canvas></div>
        </div>
        <div class="dashboard-membership-overview">
          <div class="d-flex justify-content-between px-3 overview-head">
            <p class="fw-bold">Activity Tracker</p>
            <span><i class="uil uil-ellipsis-v"></i></span>
          </div>
          <div class=""><canvas id="myChartPie"></canvas></div>
        </div>
      </div>
    </div>
  </section>
</main>
<%- include('./layouts/footer'); -%>
<script src="/js/adminDashboard.js"></script>
