<%- include('./layouts/header'); -%>
<main class="d-flex">
  <%- include('./layouts/sidebar'); -%>
  <section id="main-menu" class="col">
    <h2>Tambah Member Baru</h2>
    <nav
      style="--bs-breadcrumb-divider: '>'"
      aria-label="breadcrumb"
      class="mb-5"
    >
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Members</a></li>
        <li class="breadcrumb-item active" aria-current="page">Tambah</li>
      </ol>
    </nav>
    <form id="add-member">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label required"
          >Nama Member</label
        >
        <input
          type="text"
          class="form-control required"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          required
        />
      </div>
      <div class="mb-3">
        <label class="form-label required">Panjang Membership</label> <br />
        <select class="form-select" aria-label="Default select example">
          <option value="30">1 Bulan</option>
          <option value="90">3 Bulan</option>
          <option value="360">12 Bulan</option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary">Simpan</button>
    </form>
  </section>
</main>
<%- include('./layouts/footer'); -%>

<script src="/js/adminMembersTambah.js"></script>
<script>
  $(".nav-dashboard").removeClass("active");
  $(".nav-members").addClass("active");
</script>
