<%- include('./layouts/header'); -%> <%- include('./layouts/navbar'); -%>

<main class="">
  <div class="container h-[calc(100vh-5rem)] flex items-center">
    <div class="">
      <h1 class="font-bold text-6xl mb-12">
        Become stronger version <br />
        <span class="text-red-600">of yourself</span>
      </h1>
      <a href="/member"
        ><button
          class="bg-red-500 hover:bg-red-600 active:bg-red-700 focus:outline-none focus:ring focus:ring-violet-300 text-white w-max px-8 py-2 rounded-lg m-auto"
        >
          Show Member
        </button></a
      >
    </div>
  </div>
</main>

<%- include('./layouts/footer'); -%>
