<%- include('./layouts/header'); -%> <%- include('./layouts/navbar'); -%>

<main>
  <div class="container">
    <table id="member-table">
      <thead>
        <th>No</th>
        <th>Name</th>
        <th>Activation-date</th>
        <th>Status</th>
      </thead>
    </table>
  </div>
</main>

<%- include('./layouts/footer'); -%>
<script src="/js/memberPage.js"></script>
