header {
  height: calc(100vh - 3rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
header button {
  width: 10rem;
}
section {
  padding-bottom: 10rem;
}
body {
  padding: 0 7.5%;
}
